<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change Password</title>
    <!-- Add your CSS stylesheets or link to external CSS files here -->
</head>
<body>
    <h1>Change Password</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div>
            {{ form.old_password.errors }}
            <label for="id_old_password">Old Password:</label>
            {{ form.old_password }}
        </div>
        <div>
            {{ form.new_password.errors }}
            <label for="id_new_password">New Password:</label>
            {{ form.new_password }}
        </div>
        <div>
            {{ form.confirm_new_password.errors }}
            <label for="id_confirm_new_password">Confirm New Password:</label>
            {{ form.confirm_new_password }}
        </div>
        <input type="submit" value="Change Password">
    </form>
</body>
</html>
