{% extends 'base.html'%}
{% load static %}

{% block content %}

<header>
    <div class="header-title-wrapper">
        <label for="menu-toggle">
          <i class="fa-solid fa-bars"></i>
        </label>
        <div class="header-title">
            <h1>DASHBOARD</h1>               
        </div>
    </div>
    <div class="header-action">
      <input type="file" id="csv_file_input" style="display: none;" accept=".csv">
      <button class="btn btn-main" onclick="handleUpload()">
          UPLOAD
      </button>
  </div>

  <!-- Modal for file confirmation -->
  <div id="fileConfirmationModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <h2>Confirm Upload</h2>
        <p id="fileName"></p>
        <input type="file" id="csv_file_input" style="display: none;" accept=".csv">
        <button onclick="changeFile()">Select Another File</button>
        <button onclick="uploadFile()">Confirm Upload</button>
        <button onclick="closeModal()">Cancel</button>
    </div>
  </div>

</header>

        <main>
            <div>
                <h3 class="section-head">Overview</h3>
                <div class="analytics">
                    <div class="analytic">
                        <div class="analytic-icon">
                          <i class="fa-solid fa-users"></i>
                        </div>
                        <div class="analytic-info">
                            <h4>TOTAL USERS</h4>
                            <h1>{{ total_users_count }}</h1> 
                        </div>
                    </div>
    
                    <div class="analytic">
                        <div class="analytic-icon">
                          <i class="fa-solid fa-pen-to-square"></i>
                        </div>
                        <div class="analytic-info">
                            <h4>TOTAL POSTS</h4>
                            <h1>{{ total_posts_count }}</h1>
                        </div>
                    </div>
    
                    <div class="analytic">
                        <div class="analytic-icon">
                          <i class="fa-solid fa-gamepad"></i>
                        </div>
                        <div class="analytic-info">
                            <h4>GAMES</h4>
                            <h1>{{ total_games_count }}</h1>
                        </div>
                    </div>
    
                    <div class="analytic">
                        <div class="analytic-icon">
                          <i class="fa-solid fa-heart"></i>
                        </div>
                        <div class="analytic-info">
                            <h4>TOTAL LIKES</h4>
                            <h1>{{ total_likes_count }}</h1>
                        </div>
                    </div>
    
                </div>

              </div>

              <div class="block-grid">
                  <section>
                    <h3 class="section-head">Recent</h3>
                    <div class="rev-content">
                            <div class="rev-info">
                                <h1> ALLOWED POSTS</h1>
                                <small>{{ allowed_posts_today_count }} today</small>
                            </div>
                            <div class="rev-sum">
                              <table style="border-collapse: collapse; width: 100%;">
                                <thead>
                                    <tr>
                                        <th style="border: 1px solid #dddddd; text-align: left; font-size: 11px; padding: 8px;">Description</th>
                                        <th style="border: 1px solid #dddddd; text-align: left; font-size: 11px; padding: 8px;">Game</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for post in recent_published_posts %}
                                    <tr>
                                        <td style="border: 1px solid #dddddd; text-align: left; font-size: 11px; padding: 3px;">
                                            {% if post.body|wordcount > 8 %}
                                                {{ post.body|truncatewords:8 }}.
                                            {% else %}
                                                {{ post.body }}
                                            {% endif %}
                                        </td>
                                        <td style="border: 1px solid #dddddd; text-align: left; font-size: 11px; padding: 3px;">{{ post.game_title.title }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            </div>
                    </div>
                    <div class="rev-content">
                        <div class="rev-info">
                            <h1>REJECTED POSTS (FOUL)</h1>
                            <h4 style="font-size: 14px">{{ foul_posts_today_count }} <small>today</small></h1>
                        </div>
                      <div class="rev-sum">
                        <table style="border-collapse: collapse; width: 100%;">
                          <thead>
                              <tr>
                                  <th style="border: 1px solid #dddddd; text-align: left; font-size: 11px; padding: 8px;">Description</th>
                                  <th style="border: 1px solid #dddddd; text-align: left; font-size: 11px; padding: 8px;">Game</th>
                              </tr>
                          </thead>
                          <tbody>
                            {% for post in recent_foul_posts %}
                            <tr>
                                <td style="border: 1px solid #dddddd; text-align: left; font-size: 11px; padding: 3px;">
                                    {% if post.body|wordcount > 8 %}
                                        {{ post.body|truncatewords:8 }}.
                                    {% else %}
                                        {{ post.body }}
                                    {% endif %}
                                </td>
                                <td style="border: 1px solid #dddddd; text-align: left; font-size: 11px; padding: 3px;">{{ post.game_title.title }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                      </table>
                  </div>
                      </div>
             
                  </section>
                    
              <section>
                <div class="graph-card">
                <h3 class="section-head">Graph</h3>
                  <div class="graph-content">
                      <div class="graph-head">
                          <div class="icons-wrapper">
                              <div class="icon">
                                <i class="fa-solid fa-user-plus"></i>
                              </div>
                              <div class="icon">
                                <i class="fa-solid fa-pen"></i>
                              </div>
                          </div>
                          <div class="graph-select">
                              <select id="monthSelector">
                                  <option value="monthly">Monthly (December)</option>
                                  <option value="monthly">Monthly (November)</option>
                              </select>
                          </div>
                      </div>
                          <div class="graph-board">
                                <canvas id="myChart" height=165></canvas> 
                          </div>
                  </div>
                </div>
              </section>
                  
              </div>
    

              <div class="block-grid">
                <div class="graph-card">
                  <h3 class="section-head">Popular Games</h3>
                  <div class="pie-content">
                      <div style="width: 100%; max-height: 400px;">
                          <canvas id="gamesChart" style="max-height: 400px;"></canvas>
                      </div>
                  </div>
              </div>
                  <div class="graph-card">
                      <h3 class="section-head">User Engagement</h3>
                      <div class="graph-content">
                          <div>
                              <canvas id="engagementChart"></canvas>
                          </div>
                      </div>
                  </div>
              </div>

              <div id="data-for-chart" data-chart-data="{{ data_for_chart_json }}"></div>
              <div id="data-for-engagement" data-engagement-data="{{ json_data_for_engagement }}"></div>

{% comment %} For ChartJS {% endcomment %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

{% comment %} 
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/emn178/chartjs-plugin-labels/src/chartjs-plugin-labels.js"></script> {% endcomment %}


{% comment %} script for uploading of csv {% endcomment %}
<script>
  function handleUpload() {
      var fileInput = document.getElementById('csv_file_input');
      
      // Trigger click on file input element
      fileInput.click();
      
      // Handle file selection event
      fileInput.addEventListener('change', function(event) {
          var file = event.target.files[0];
          
          // Check if a file is selected
          if (file) {
              document.getElementById('fileName').innerText = 'File Name: ' + file.name;
              showModal();
          }
      });
  }

  function showModal() {
      var modal = document.getElementById('fileConfirmationModal');
      modal.style.display = 'block';
  }

  function closeModal() {
      var modal = document.getElementById('fileConfirmationModal');
      modal.style.display = 'none';
  }

  function changeFile() {
      closeModal(); // Close current modal
      handleUpload(); // Trigger file input click again
  }

  function uploadFile() {
      var file = document.getElementById('csv_file_input').files[0];
      closeModal(); // Close modal before AJAX call
      
      var formData = new FormData();
      formData.append('csv_file', file);
      
      // Send file via AJAX to Django backend
      $.ajax({
          url: '/upload_csv/', // Replace with your Django URL endpoint
          type: 'POST',
          headers: {
            "X-CSRFToken": csrfToken,
          },
          data: formData,
          processData: false,
          contentType: false,
          success: function(response) {
              alert('File uploaded successfully: ' + file.name);
              // Perform further actions if needed
          },
          error: function(xhr, status, error) {
              alert('Error uploading file: ' + error);
          }
      });
  }
</script>


{% comment %} Script for Line Chart {% endcomment %}

<script>
    const ctx = document.getElementById('myChart');
    let dataForChart;

    // Access the data passed from Django views to the template
    const dataForChartElement = document.getElementById('data-for-chart');
    const dataForChartString = dataForChartElement.getAttribute('data-chart-data');

    if (dataForChartString) {
      try {
        dataForChart = JSON.parse(dataForChartString);
      } catch (error) {
        console.error('Error parsing JSON:', error);
      }
    } else {
      console.error('Empty or null JSON data');
    }

    if (dataForChart) {
      const dates = Object.keys(dataForChart);

      const publishedPostsData = dates.map(date => ({
        x: new Date(date).getTime(),
        y: dataForChart[date].published
      }));

      const foulPostsData = dates.map(date => ({
        x: new Date(date).getTime(),
        y: dataForChart[date].foul
      }));

      new Chart(ctx, {
        type: 'line', 
        data: {
          labels: dates,
          datasets: [
            {
              label: 'Published Posts', 
              data: publishedPostsData,
              borderColor: 'rgba(255, 99, 132, 1)', 
              borderWidth: 2,
              fill: false, 
            },
            {
              label: 'Rejected Posts (Foul Words)', 
              data: foulPostsData,
              borderColor: 'rgba(54, 162, 235, 1)', 
              borderWidth: 2,
              fill: false, 
            },
          ],
        },
        options: {
          scales: {
            y: {
              beginAtZero: true
            }
          }
        }
      });
    }
</script>



{% comment %} For Top 5 Games {% endcomment %}
<script>
    const ctx2 = document.getElementById('gamesChart').getContext('2d');

    // Assuming you have received the game titles and post counts from the Django backend
    const topGameTitles = JSON.parse('{{ top_game_titles_json | escapejs }}');
    const postCounts = JSON.parse('{{ post_counts_json | escapejs }}');

    new Chart(ctx2, {
      type: 'pie', // Change the chart type to 'pie'
      data: {
        labels: topGameTitles,
        datasets: [{
          data: postCounts,
          backgroundColor: [
            'rgba(186, 153, 255, 0.5)',
            'rgba(255, 99, 132, 0.5)',
            'rgba(54, 162, 235, 0.5)',
            'rgba(255, 206, 86, 0.5)',
            'rgba(75, 192, 192, 0.5)',
          ],
          borderColor: [
            'rgba(186, 153, 255, 1)',
            'rgba(255, 99, 132, 1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
          ],
          borderWidth: 2,
        }]
      },
      options: {
        responsive: true,
        maintainAspectRatio: true,
        plugins: {
          labels: {
            render: 'percentage',
            precision: 2
          }
        },
      }
    });
</script>


{% comment %} Engagement Chart {% endcomment %}
<script>
    const ctx5 = document.getElementById('engagementChart').getContext('2d');
    let dataForEngagement;

    const dataForEngagementElement = document.getElementById('data-for-engagement');
    const dataForEngagementString = dataForEngagementElement.getAttribute('data-engagement-data');

    if (dataForEngagementString) {
      try {
        dataForEngagement = JSON.parse(dataForEngagementString);
      } catch (error) {
        console.error('Error parsing JSON:', error);
      }
    } else {
      console.error('Empty or null JSON data');
    }

    if (dataForEngagement) {
      const dates = Object.keys(dataForEngagement);

      const likesData = dates.map(date => ({
        x: new Date(date).getTime(),
        y: dataForEngagement[date].likes
      }));

      const commentsData = dates.map(date => ({
        x: new Date(date).getTime(),
        y: dataForEngagement[date].comments
      }));

      new Chart(ctx5, {
        type: 'line', 
        data: {
          labels: dates,
          datasets: [
            {
              label: 'Number of Likes', 
              data: likesData,
              borderColor: 'rgba(255, 99, 132, 1)', 
              borderWidth: 2,
              fill: false, 
            },
            {
              label: 'Number of Comments', 
              data: commentsData,
              borderColor: 'rgba(54, 162, 235, 1)', 
              borderWidth: 2,
              fill: false, 
            },
          ],
        },
        options: {
          scales: {
            y: {
              beginAtZero: true
            }
          }
        }
      });
    }
</script>

        </main>
{% endblock content %}


